.link {
  display: flex;
  align-items: center;
  margin: 10px;

  img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

.postitive {
  color: #1abc9c;
}

.negative {
  color: #e74c3c;
}

.unfinished {
  color: #f1c40f;
}
