@import './colors.css';

button {
  padding: 15px 25px;
  border: none;
  border-radius: 25px;
  background-color: var(--success-color);
  color: white;
  font-weight: bold;
  font-size: inherit;
  cursor: pointer;
  transition: all 500ms;

  &.start-button {
    font-size: 50px;

    &:hover {
      background-color: #16a085;
    }
  }

  &.stop-button {
    background-color: #e74c3c;

    &:hover {
      background-color: #c0392b;
    }
  }
}
