@import './styles/buttons.css';
@import './styles/colors.css';

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 30px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: var(--text-color);
  font-weight: 100;
}

:global .content {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}

:global .inner {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
}

:global a {
  text-decoration: none;
  color: inherit;
}

:global a:hover {
  text-decoration: underline;
}