@import './styles/buttons.css';
@import './styles/colors.css';

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 30px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: var(--text-color);
  font-weight: 100;
}

:global {
  height: 100%;
}

:global .content {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}

:global .inner {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
}

:global .letters-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 0;
}

:global .letters-container div {
  padding: 10px 15px;
  border: 1px solid black;
}

:global .letters-container div.done {
  padding: 10px 15px;
  border: 1px solid aquamarine;
  background-color: aquamarine;
}

:global .letters-container div.error {
  padding: 10px 15px;
  border: 1px solid #e74c3c;
  background-color: #e74c3c;
}

:global a {
  text-decoration: none;
  color: inherit;
}

:global a:hover {
  text-decoration: underline;
}

:global .postitive {
  color: #1abc9c;
}

:global .negative {
  color: #e74c3c;
}

:global .unfinished {
  color: #f1c40f;
}

:global .start-container {
  display: flex;
  align-items: center;
  height: 100%;
}
